@import "../../assets/variables";

.account-button-container{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $grey1;
    border:1px solid $lightViolet;
    cursor:pointer;
    span{
        color:$darker;
        text-transform: uppercase;
    }
}