@import "../../../assets/variables";

.account-header-container{
    width: 100%;
    height: 60px;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 20px;
    position: relative;

    .action-menu{
        height: 20px;
        p{
            color:$darker;
            font-weight: bold;
            height: 20px;
            cursor: pointer;
            transform: scale(1.5);
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            -o-transform: scale(1.5);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
}
    }
    .account-menu-container{
        position: absolute;
        top:60px;
    }
}