@import "../../assets/variables";

.switch-container{
    width: 100%;
    height: 40px;
    justify-content: space-between;
    background-color: $grey;

    div{
        height: 100;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor:pointer
    }
    .active{
        color: $violet;
        border-bottom: 2px solid $violet;
    }
}