@import "../../assets/variables";

.chat-main-container{
    width: 95%;
    height: calc(100vh - 100px);
    background-color: $white;
    border-radius: 30px;
    .chat{
        width: 100%;
        height: calc(100% - 40px);
    }
}