
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
div{
    box-sizing: border-box;
}
.column-container{
      display: flex;
      flex-direction: column;
}
.row-container{
    display: flex;
    flex-direction: row;
}
.center{
      justify-content: center;
      align-items: center;
}

ul{
      list-style: none;
}

p{
  margin: 0px;
}

.btn-generic{
    width: 80%;
    margin-top: 20px;
    height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $violet;
    color:$white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}