@import "../../assets/variables";

.dashboard-main-container{
    display: grid;
    grid-template-columns: 60px 1fr;
    height: 100vh;
    .right-section-container{
        align-items: center;
        .app-section{
            height: calc(100vh - 60px);
            width: 100%;
            display: grid;
            grid-template-columns: 2fr 5fr;
        }
    }
}