@import "../../../assets/variables";

.menu-container{
    width: 100%;
    height: 100%;
    background-color: $violet;
    color:$white;
    border-radius:0px 70px 0px 0px;
    -webkit-border-radius:0px 70px 0px 0px;
    -moz-border-radius:0px 70px 0px 0px;
    -ms-border-radius:0px 70px 0px 0px;
    -o-border-radius:0px 70px 0px 0px;
}