@import '../../../assets/variables';

.user-logged-box-container{
    height: 100% ;
    overflow-x: auto;
    width: 100%;
    align-items: center;
    background-color: $grey1;
    .cards-container{
        width: 100%;
        height: 100%;
        align-items: center;
        border:1px solid $grey1;
        border-left: none;
    }
}